In [41]:
import pandas as pd
import numpy as np

In [42]:
messages = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NLP practice/smsspamcollection/spam.csv', encoding='latin-1')

In [43]:
messages = messages[['v1', 'v2']] #assigninig only 2 columns in messages

In [44]:
messages.columns = ['label','message'] #changing the colummn name from v1 v2 to lable and message

In [ ]:
messages

Text Preprocessing

In [ ]:
import re
import nltk
nltk.download('all') #downloads the whole nltk library

In [47]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [48]:
ps = PorterStemmer()
corpus = []

In [49]:
for i in range(len(messages)):
    review = re.sub('[^a-zA-Z]', ' ', messages['message'][i]) #re.sub(pattern, repl, string, count=0, flags=0)
    review = review.lower()
    review = review.split() 
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

In [51]:
cv = CountVectorizer(max_features=5000) #max_features is added to reduce the size of the sample from (5572, 6221) to our desired shape. here there are totally 6221 unique words.

In [52]:
X = cv.fit_transform(corpus).toarray()

In [53]:
X.shape

(5572, 5000)

In [54]:
y = pd.get_dummies(messages['label']) #converting the lable(2 values 'ham' and 'spam') into one and zero

In [55]:
y

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
...   ...   ...
5567    0     1
5568    1     0
5569    1     0
5570    1     0
5571    1     0

[5572 rows x 2 columns]

In [56]:
y = y.iloc[:,1].values #selects only the olumn 1 (spam column)

In [57]:
y

array([0, 0, 1, ..., 0, 0, 0], dtype=uint8)

Train Test splitting

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

Using Navie Bayes multinorminal model to detect the Spam from the mail

In [69]:
from sklearn.naive_bayes import MultinomialNB

In [61]:
spam_detect_model = MultinomialNB().fit(X_train, y_train) #assigning and fitting at the same time

In [62]:
y_pred = spam_detect_model.predict(X_test)

inorder to compare our predicted output

Implement **Confusion matrix**

In [63]:
from sklearn.metrics import confusion_matrix

In [64]:
confusion_m = confusion_matrix(y_test , y_pred)

In [65]:
confusion_m

array([[938,  11],
       [  6, 160]])

Checking the accuracy of the model

In [66]:
from sklearn.metrics import accuracy_score

In [67]:
accu_score = accuracy_score(y_test , y_pred)

In [70]:
accu_score #accuracy score

0.9847533632286996